.is-visible {
    opacity: 1;
}

.is-hidden {
    opacity: 0;
}

.is-removed {
    display: none;
}

.div-no-visible {
    display: none;
}


#message {
    margin: 0 auto;
    width: 100%;
    padding: 10px;

    margin-top: 20px;

    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 0; /* Keep at the very top of the viewport */
    z-index: 999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}

.rounded {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.transition {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.alerta {
    background-color: rgba(255, 3, 0, 0.58);
!important;
    color: white;
}

.notificacion {
    background-color: rgba(46, 225, 65, 0.49);
    color: black;
}

.feedback {
    background-color: #31B0D5;
    color: white;
    padding: 15px 15px;
    border-radius: 50%;
    border-style: solid;
    border-color: #46b8da;

}

#mybutton {
    position: fixed;
    bottom: 54px;
    right: 10px;
    z-index: 999;
}
