{% extends 'base.html' %}
{% load static %}
{% block titulo %} {{ cfg.carta_like }} {% endblock %}
{% block estilo-1 %}
    <style>
        .pedir {
            display: none;
        }

        .btm-right:hover .captn .pedir {
            display: block;
            margin-top: 20px;
        }
    </style>
{% endblock %}
<link href="{% static 'cookery/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% block estilo-2 %}
    <style>
        .header {
            background: url("/media/{{ carta.imagen }}") no-repeat left;
            background-size: cover;
        }

        .btm-right .captn {
            background-color: {{ cfg.color }};
        }

        .captn::before {
            border-bottom-color: {{ cfg.color }};
        }

        p.footer-class a {
            color: {{ cfg.color }};
        }

        .footer-bottom label::before, .footer-bottom label::after {
            background-color: {{ cfg.color }};
        }

        .footer-bottom i {
            color: {{ cfg.color }};
        }

        .social-ic li a i {
            border: 3px double{{ cfg.color }};
        }

        .social-ic li a i:hover {
            background: {{ cfg.color }} url({% static 'cookery/images/telegram.png' %}) no-repeat -3px -3px;
        }

        .social-ic li a i {
            background: url({% static 'cookery/images/telegram.png' %}) no-repeat -3px -3px;
        }

        .social-ic li a i.ic:hover {
            background: {{ cfg.color }} url({% static 'cookery/images/img-sprite.png' %}) no-repeat -305px 2px;
        }

        .social-ic li a i.ic1:hover {
            background: {{ cfg.color }} url({% static 'cookery/images/img-sprite.png' %}) no-repeat -145px 2px;
        }

        .social-ic li a i.ic {
            background: url({% static 'cookery/images/img-sprite.png' %}) no-repeat -305px 2px;
        }

        .social-ic li a i.ic2:hover {
            background: {{ cfg.color }} url({% static 'cookery/images/whatsapp.png' %}) no-repeat -3px -2px;
        }

        .social-ic li a i.ic2 {
            background: url({% static 'cookery/images/whatsapp.png' %}) no-repeat -3px -2px;
        }

        .toggle {
            background-color: {{ cfg.color }};
        }

        .toggle-menu li a:hover, .toggle-menu li a.active {
            color: {{ cfg.color2 }};
            border-bottom: 2px solid{{ cfg.color2 }};
        }

        ul.in li a:hover {
            color: {{ cfg.color }};
        }

        .social-ic li a i.ic3:hover {
            background: {{ cfg.color }} url({% static 'cookery/images/img-sprite.png' %}) no-repeat -305px 2px;
        }
    </style>
{% endblock %}
{% block header %}
    <div class="header head">
        <div class="container">
            <div class="logo animated wow pulse" data-wow-duration="1000ms" data-wow-delay="500ms">
                <h1><a href="{% url 'index' %}"><img src="/media/{{ cfg.logo }}" alt=""></a></h1>
            </div>
            <div class="nav-icon">
                <a href="#" class="navicon"></a>
                <div class="toggle">
                    <ul class="toggle-menu">
                        <li><a href="{% url 'index' %}">Inicio</a></li>
                        <li><a class="active" href="{% url 'carta' %}">{{ cfg.carta_like }}</a></li>
                        <li><a href="{% url 'contacto' %}">Contacto</a></li>
                        <li><a href="{% url 'cart_detail' %}">{{ cfg.cart_like }}</a></li>
                    </ul>
                </div>
                <script>
                    $('.navicon').on('click', function (e) {
                        e.preventDefault();
                        $(this).toggleClass('navicon--active');
                        $('.toggle').toggleClass('toggle--active');
                    });
                </script>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
{% block contenido %}
    <div class="menu">
        <div class="container">
            <div class="menu-top">
                <div class="col-md-4 menu-left animated wow fadeInLeft" data-wow-duration="1000ms"
                     data-wow-delay="500ms">
                    <h3 style="color: {{ cfg.color2 }}">{{ carta.titulo }}</h3>

                    <label><i class="glyphicon glyphicon-menu-up"></i></label>
                    <div class="col-md-7 contact-para animated wow fadeInDown" data-wow-duration="1000ms"
                         data-wow-delay="500ms" style="padding-bottom: 10px">
                        <form method="get" action="{% url 'cart_detail' %}">
                            <div class="send">
                                <input style="background-color: {{ cfg.color2 }}" type="submit" value="Ver {{ cfg.cart_like }}">
                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-md-8 menu-right animated wow fadeInRight" data-wow-duration="1000ms"
                     data-wow-delay="500ms">
                    {{ carta.contenido|safe }}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="menu-bottom animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                {% for item in productos %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <div class="clearfix"></div>
                        </div>
                        <div class="menu-bottom animated wow fadeInDown" data-wow-duration="1000ms"
                             data-wow-delay="500ms">
                    {% endif %}
                    <div class="col-md-4 menu-bottom1">
                        <div class="btm-right">
                            <a href="{% url 'producto_detail' item.id %}">
                                <img src="/media/{{ item.image }}" style="height: 300px; width: 400px" alt=""
                                     class="img-responsive">
                                <div class="captn">
                                    <h4 style="color: white">{% if item.especial %}
                                        <label><i class="glyphicon glyphicon-star"></i></label>
                                    {% endif %}{{ item.name }} <br> <a class="pedir" style="cursor: pointer"
                                                                       onclick="add({{ item.id }})"><i
                                            class="glyphicon glyphicon-book"></i> Pedir</a>
                                    </h4>
                                    <p class="pedir">
                                        {% if item.price %}
                                            {{ item.price }} {{ cfg.moneda }}
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}
{% block extra-scripts %}
    <script>
        function showMessage(s) {
            var m = $("#message");
            m.html(s);
            m.addClass("notificacion");
            m.removeClass("is-removed");
            m.removeClass("is-hidden");
            m.addClass("is-visible");
            setTimeout(function () {
                m.removeClass("is-visible");
                m.addClass("is-hidden");
                setTimeout(function () {
                    m.addClass("is-removed");
                }, 2000);
            }, 3000);
        }

        function add(id) {
            block_screen()
            $.ajax({
                url: '/cart/add/' + id + '/',
                data: id,
                success: function (response) {
                    setTimeout(function () {
                        unblock_screen()
                    }, 1000);
                    showMessage("Se agregó ".concat(response['name']).concat(" a {{ cfg.cart_like }}"));
                    var total_cart = document.getElementById('total_ajax'.concat(''));
                    total_cart.innerText = parseFloat(total_cart.innerText) + parseFloat(response['price']);
                },
            });
        }
    </script>
{% endblock %}