#button {
    display: inline-block;!important;
    background-color: #FF9800;!important;
    width: 50px;!important;
    height: 50px;!important;
    text-align: center;!important;
    border-radius: 4px;!important;
    position: fixed;!important;
    bottom: 30px;!important;
    right: 30px;!important;
    transition: background-color .3s,!important;
    opacity: 0;!important;
    visibility: hidden;!important;
    z-index: 1000;!important;
}
#button::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
}